<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kaisalar.android_client">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
                android:icon="@mipmap/ic_launcher_icon"
            android:label="Survey Master"
            android:roundIcon="@mipmap/ic_launcher_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.survey_detail.ReportsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.survey_detail.SurveyDetailsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.create_survey.CreateSurveyActivity" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/SplashTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.intro.IntroActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.authentication.AuthActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.main.MainActivity" android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>